<%= form_for [listing.user, listing] do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <%= form.collection_select :location, Location.all, :id, :name, {:prompt => "Select Location"} %>

  <div>
    <%= form.label :bedrooms %>
    <%= form.select :bedrooms, options_for_select(1..20) %>
  </div>

  <div>
    <%= form.label :max_guest_number %>
    <%= form.select :max_guest_number, options_for_select(1..20) %>
  </div>

  <div>
    <%= form.label "Starts on (01-22-14)" %>
    <%= form.date_field :starts_on %>
  </div>
 
  <div>
    <%= form.label "Ends On (01-22-14)" %>
    <%= form.date_field :ends_on %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.fields_for :images do |image_attributes| %>
    <%= image_attributes.label :url, "Enter Image URL" %>
    <%= image_attributes.text_field :url %>
    <%= image_attributes.check_box :_destroy %>
    <%= image_attributes.label :_destroy, "Remove Image" %><br>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
