<div class="card">
  <div class="ribbon-wrapper">
    <div class="ribbon">WOW
    </div>
  </div>

  <div class="card-image">
    <% if listing.images.count > 0 %>
      <img src="<%= listing.images.first.url %>" alt="">
    <% end %>
  </div>

  <div class="card-header listing-title">
    <%= listing.title %>
  </div>

  <div class="card-copy">
    <p><%= listing.description %></p>
  </div>

  <div class="card-stats listing-info">
    <ul>
      <li>$<%= listing.price %><span>Per Night</span></li>
      <li><%= listing.bedrooms %><span>Beds</span></li>
      <li><%= listing.max_guest_number %><span>Max Guests</span></li>
      <li><%= listing.likes.count %><span>Likes</span></li>
      <li class="listing-address" ><%= listing.address %></li>
    </ul>

    <% if signed_in? %>
      <% if current_user.id == listing.user_id %>
        <br><br><h5>I own this listing</h5>
        <%= link_to "Edit / Add Photos", edit_user_listing_path(listing.user, listing) %>
        <%= button_to "Delete Listing", [listing.user, listing], method: :delete %>
      <% else %>
        <%= link_to "Request to Book", new_listing_booking_request_path(listing) %>
        <% if current_user.likes?(listing) %>
          <%= button_to "Unlike this listing", listing_like_path(listing), method: :delete %>
        <% else %>
          <%= button_to "Like this listing", listing_like_path(listing) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
