<div>
  <strong><%= link_to listing.title, listing_path(listing) %></strong>
  <li>Price -- <%= listing.price %></li>
  <li>Location -- <%= listing.location %></li>
  <li>Bedrooms -- <%= listing.bedrooms %></li>
  <li>Starts On -- <%= listing.starts_on %></li>
  <li>Ends on -- <%= listing.ends_on %></li>
  <li>Description -- <%= listing.description %></li>
  <ul>
    <% listing.images.each do |image| %>
      <li>Some Pictures -- <%= image_tag image.url %></li>
    <% end %>
  </ul>

  <% if current_user.id == listing.user_id %>
    <%= button_to "Delete", [listing.user, listing], method: :delete %>
    <%= link_to "Edit & Add Photos", edit_user_listing_path(listing.user, listing) %>
  <% end %>
</div>
