<div>
  <strong><%= link_to listing.title, listing_path(listing) %></strong>
  <li>Price -- <%= listing.price %></li>
  <li>Location -- <%= listing.location %></li>
  <li>Bedrooms -- <%= listing.bedrooms %></li>
  <li>Starts On -- <%= listing.starts_on %></li>
  <li>Ends on -- <%= listing.ends_on %></li>
  <li>Description -- <%= listing.description %></li>

  <%= button_to "Delete", [listing.user, listing], method: :delete %>
</div>
