<div>
  <strong><%= link_to listing.title, listing_path(listing) %></strong>
  <li>Price -- <%= listing.price %></li>
  <li>Location -- <%= listing.location %></li>
  <li>Bedrooms -- <%= listing.bedrooms %></li>
  <li>Maximum Guest Number -- <%= listing.max_guest_number %></li>
  <li>Starts On -- <%= listing.starts_on %></li>
  <li>Ends on -- <%= listing.ends_on %></li>
  <li>Description -- <%= listing.description %></li>
  <ul>
    <% listing.images.each do |image| %>
      <%= image_tag image.url, class: "listing" %>
    <% end %>
  </ul>

  <% if signed_in? %>
    <% if current_user.id == listing.user_id %>
      <%= button_to "Delete", [listing.user, listing], method: :delete %>
      <%= link_to "Edit & Add Photos", edit_user_listing_path(listing.user,
                                                              listing) %>
    <% else %>
      <%= link_to "Request to Book", new_listing_request_path(listing) %>
    <% end %>
  <% end%>

  <% if current_user.likes?(listing) %>
    <%= button_to "Unlike this listing", listing_like_path(listing), 
      method: :delete %>
  <% else %>
    <%= button_to "Like this listing", listing_like_path(listing) %>
  <% end %>
</div>
