<%= form_for [listing, request] do |form| %>
  <div>
    <%= form.label "Check In" %>
    <%= form.date_field :starts_on %>
  </div>
  <div>
    <%= form.label "Check Out" %>
    <%= form.date_field :ends_on %>
  </div>
  <div>
    <%= form.label "Guest Numbers (max: #{listing.max_guest_number})" %>
    <%= form.select :guest_number,
      options_for_select(1..listing.max_guest_number) %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
