<div class="landing-top-image">
  <div class="nav-buttons">
    <%= link_to "HOME", root_path %>

    <% if signed_in? %>
      <%= link_to "Create a Listing", new_user_listing_path(current_user) %>
      <%= link_to "My Listings", user_path(current_user) %>
      <%= link_to "Requests", booking_requests_path %>
      <%= link_to "Sign out", session_path, method: :delete %>
      <%= link_to "Favorite Listings", likes_path %>
    <% else %>
      <%= link_to "Sign in", new_session_path %>
      <%= link_to "Sign up", new_user_path %> 
    <% end %>
  </div>
  <div class="underspan"></div>
</div>

<div class="for-the-weekend">
  Just for the Weekend
  <div class="small-weekend">
    Discover new places close to home
  </div>
</div>

<div class="locations-container">
  <br>
  <%= render @locations %>
</div>
