<div class="top-nav-container">
  <div class="nav-buttons">
    <%= link_to "HOME", root_path %>

    <% if signed_in? %>
      <%= link_to "Create a Listing", new_user_listing_path(current_user) %>
      <%= link_to "My Listings", user_path(current_user) %>
      <%= link_to "Requests", booking_requests_path %>
      <%= link_to "Favorite Listings", likes_path %>
      <%= link_to "Sign out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_session_path %>
      <%= link_to "Sign up", new_user_path %> 
    <% end %>
  </div>
</div>

<%= image_tag @location.url, class: "top-image-span" %>
<div class="location-show-title"><%= @location.name %></div>

<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<div class="location-show-listings-area">
  <div class="cards">
    <%= render @listings %>
  </div>
</div>
