<!DOCTYPE html>
<html>
  <head>
    <title>RentR</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgQjzrivNHEstyX2i6iCMAiIrazQJZ1I4">
    </script>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= body_class %>">
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
