<!DOCTYPE html>
<html>
  <head>
    <title>RentR</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgQjzrivNHEstyX2i6iCMAiIrazQJZ1I4">
    </script>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= body_class %>">
    <div class="nav-buttons">
    <%= link_to "HOME", root_path %>

    <% if signed_in? %>
      <%= link_to "Create a Listing", new_user_listing_path(current_user) %>
      <%= link_to "My Listings", user_path(current_user) %>
      <%= link_to "Requests", booking_requests_path %>
      <%= link_to "Favorite Listings", likes_path %>
      <%= link_to "Sign out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_session_path %>
      <%= link_to "Sign up", new_user_path %> 
    <% end %>
    <br>
  </div>
 
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
